@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    font-family: Roboto Mono, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    display: none;
}

.game {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.game .button {
    font-size: xxx-large;
    transition: transform 0.3s;
}

.game .message {
    opacity: 0;
    font-weight: bolder;
    font-size: larger;
}

.player .button:hover {
    transform: translateY(-15px);
    cursor: pointer;
}

.player,
.computer {
    display: flex;
    gap: 20px;
}

.results {
    background-color: #333333;
    padding: 1% 2%;
    border-radius: 10px;
    text-align: center;
}